@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#score-card-upcoming{
  background: linear-gradient(154deg, #001F4E -12.93%, #000 106.32%);
}
#score-card-completed{
  background: linear-gradient(154deg, #784F00 -12.93%, #000 106.32%);
}
div::-webkit-scrollbar {
  display: none;
  width: 6px;
}

div::-webkit-scrollbar-thumb {
  background: #88888853;
  border-radius: 10px;
  
}

