.main{
    background-color: black;
    padding-bottom: 5rem;
    background-image: linear-gradient(to top, #181821, rgba(255,0,0,0), #181D22);
}
.heading{
    margin: auto;
    text-align: center;
    flex-shrink: 0;
    color: white;
    font-family: Nidus 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4.4rem;
    font-weight: 400;
    letter-spacing: 0.44rem;
    text-decoration-line:underline ;
    text-underline-offset: 15px;
    margin-bottom: 4rem;
    padding-top: 5rem;
}
.trophymobile{
    display: none;
}
.submain{
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: center;
   margin: 3rem;
}
.content{
    display: flex;
    justify-content: space-evenly;
}
.leftlines{
    display: none;
}
.rightlines{
    display: none;
}
.section{
    text-align: center;
}
.line1{
    margin-top: 3rem;
}
.line2{
    margin-top: 9rem;
}
.line3{
    margin-top: 12rem;
}
.line4{
    margin-top: 10rem;
}
.sportname{
    color: #FFF;
    text-align: center;
    font-family: Nidus 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 7px;
}
.card{
    width: 15rem;
    border-radius: 0.5055rem;
    border: 0.505px solid #FFF;
    background: linear-gradient(153deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.06) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -2.52744px 1.51646px 2.02195px 0px rgba(92, 92, 92, 0.25);
    backdrop-filter: blur(10.615254402160645px);
    text-align: center;
    padding-left: 15%;
}
.card:hover{
    scale: 1.04;
    transition-duration: 300ms;
}

.card image{
    text-align: center;
    margin: auto;
}
.center{
    padding: 2rem;
    display: inline;
}

@media screen and (max-width: 1380px) {
     .heading{
        font-size: 3.4rem;
     }
     .card{
        width: 12rem;
        padding-right: 20px;
     }
     .center img{
        height: 70rem;
     }
     .sportname{
        font-size: 1.3rem;
     }
     .line1{
        margin-top: 3rem;
     }
     .line2{
        margin-top: 10rem;
     }
     .line3{
        margin-top: 12rem;
     }
     .line4{
        margin-top: 10rem;
     }
  }
  @media screen and (max-width: 850px){
    .heading{
        font-size: 2rem;
        margin-bottom: 0.7rem;
    }
    .line1{
        margin-top: 1rem;
    }
    .line2{
        margin-top: 2rem;
    }
    .line3{
        margin-top: 4rem;
    }
    .line4{
        margin-top: 3rem;
    }
    .center img{
        height: 45rem;
    }
    
  } 
  @media screen and (max-width: 720px){
    .main{
        padding-bottom: 12rem;
        background-image: linear-gradient(to top, #181821, rgba(255,0,0,0), #242B31);
    }
    .submain{
        grid-template-columns: auto;
        position: relative;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        top:11rem;
        text-align: center;
    }
    .heading{
        font-size: 2rem;
    }
    .center{
        display: none;
    }
    .submain{
        justify-content: space-around;
    }
    .trophymobile{
        display: block;
        width: 7rem;
        margin: auto;
        padding-top:20px ;
    }
    .right{
        margin-top: 1.5rem;
    }
    .card{
        width: 11.68475rem;
        height: 6.92631rem;
        padding-left: 35px;
        margin-top: 1rem;
    }
    .card img{
        width: 7.14381rem;
        height: 6.48169rem;
    }
    .leftlines,.rightlines{
        display: inline-block;
        position: relative;
        top:11rem;
    }
    .leftlines{
        left: 10rem;
        
    }
    .rightlines{
        right: 10rem;
        
    }
    .leftline1{
        margin-top: 9.25rem;
    }
    .leftline2{
        margin-top: 11.75rem;
    }
    .leftline3{
        margin-top: 11.75rem;
    }
    .leftline4{
        margin-top: 12.25rem;
    }
    .rightline1{
        margin-top: 21.25rem;
    }
    .rightline2{
        margin-top: 12rem;
    }
    .rightline3{
        margin-top: 11.75rem;
    }
    .submain{
        margin-top: -10rem;
    }
    .leftlines{
        margin-top: -13rem;
    }
    .rightlines{
        margin-top: -13rem;
    }

  }
  @media screen and (max-width: 660px){
    .leftlines{
        left: 6.5rem;
        
    }
    .rightlines{
        right: 6.5rem;
    
    }
    .heading{
        text-underline-offset: 7px;
    }
  }
  @media screen and (max-width: 510px){
    .left{
        margin-right: 3rem;
    }
    .right{
        margin-right: 2rem;
    }
    .heading{
        font-size: 1.5rem;
    }
    .submain{
        padding-left: 3.5rem;
    }
    .leftlines{
        left: 2.5rem;
        
    }
    .rightlines{
        right: 2.5rem;
    
    }
  }
  @media screen and  (max-width: 410px){
     .leftlines img{
          height: 210px;
     }
     .rightlines img{
        height: 210px;
     }
  };
    
  